.made {
    background: #212B31;
    margin-top: 144px;
}

.made__title {
    font-family: 'Inter';

    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.made__name {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 10px;
}

.made__description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);

}

.made__li {
    position:absolute;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 8px;
    top: 7px;
    left:-32px;
}
.made__info {
    width:589px;

}